@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            html {
                margin: auto;
                width: 100%;
                height: 100%;
            }

            body {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 100%;
                height: 100%;
                padding: 1rem;
                gap: 1rem;
            }

            li {
                list-style-type: none;
            }

        /* CLASS */

            .header,
            .nav,
            .main,
            .footer {
                padding: .8rem;
                gap: .8rem;
            }

            .footer,
            .cards,
            .section {
                display: flex;
            }

            .cards,
            .section {
                flex-direction: column;
            }

            .section {
                gap: .6rem;
            }

            .challenges-cards-container {
                display: flex;
                flex-direction: column;
                gap: .4rem;
            }

            .cards {
                margin: auto;
                width: 100%;
                height: 100%;
                text-align: center;
                justify-content: space-between;
                border: .1rem solid hsl(0, 0%, 0%);
                border-radius: .3rem;
                padding: .2rem;
                gap: .2rem;
            }

            .cards img {
                width: 100%;
                align-self: center;
            }

            .cards a {
                text-decoration: none;
                color: hsl(0, 0%, 0%);
            }

            .footer {
                justify-content: space-evenly;
            }

            .footer a {
                text-decoration: none;
                color: hsl(0, 0%, 0%);
            }

            .footer ul {
                text-align: center;
            }

            .cards a:active,
            .footer a:active {
                text-decoration: underline;
            }

        /* ID */

            #card-1 {
                grid-area: card-1;
            }
            #card-2 {
                grid-area: card-2;
            }
            #card-3 {
                grid-area: card-3;
            }
            #card-4 {
                grid-area: card-4;
            }
            #card-5 {
                grid-area: card-5;
            }
            #card-6 {
                grid-area: card-6;
            }
            #card-7 {
                grid-area: card-7;
            }
            #card-8 {
                grid-area: card-8;
            }
            #card-9 {
                grid-area: card-9;
            }
            #card-10 {
                grid-area: card-10;
            }

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }