@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                width: 400px;
                display: grid;
                justify-content: center;
                justify-content: center;
                background-color: hsl(200, 100%, 50%);
            }

        /* CLASS */

            .challenges_container a {
                color: black;
                text-decoration: none;
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }