@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            li {
                list-style-type: none;
            }

        /* CLASS */

            .h2-button_container {
                display: flex;
            }

            .h2-button_container {
                justify-content: space-between;
            }

            .h2-button_container img {
                width: 2rem;
                transition: .2s;
            }

            .ul {
                height: 0;
                transition: .4s;
            }

            .a_tags {
                display: none;
            }

            /* toggles */

            .button_180deg {
                rotate: 180deg;
                transition: .2s;
            }

            .ul_expanded {
                height: 600px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                transition: .4s;
            }

            .a_tags_blocked {
                display: block;
                text-decoration: none;
                color: hsl(0,0%,0%);
            }

            .a_tags_blocked:active {

            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }