@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.color6 {background-color: hsl(0, 0%, 100%);}
.color2 {background-color: hsl(178, 100%, 50%);}
.color1 {background-color: hsl(215, 51%, 70%);}
.color5 {background-color: hsl(215, 32%, 27%);} /* line */
.color4 {background-color: hsl(216, 50%, 16%);} /* card BG */
.color3 {background-color: hsl(217, 54%, 11%);} /* main BG */

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Outfit', sans-serif;
    }

    p {
        font-size: 18px;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        text-decoration: none;
        color: hsl(178, 100%, 50%);
    }

    hr {
        background-color: hsl(215, 32%, 27%);
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                margin: auto;
                width: 375px;
                height: 667px;
                display: grid;
                justify-content: center;
                align-content: center;
                gap: 1rem;
                background-color: hsl(217, 54%, 11%);
            }

            footer {
                color: hsl(215, 51%, 70%);
            }

            span {
                color: hsl(0, 0%, 100%);
            }

            span:hover {
                color: hsl(178, 100%, 50%);
            }

        /* CLASS */

            .card,
            .card-bottom,
            .eth-clock_container,
            .eth-clock_container div,
            .avatar_container {
                display: flex;
            }

            .image_container {
                height: 318px;
                border-radius: .8rem;
                background-image: url(image-equilibrium.jpg);
                background-size: contain;
                background-color: hsla(178, 100%, 50%, 0.4);
            }

            .image_container:hover {
                background-blend-mode: overlay;
            }

            .card {
                margin: auto;
                width: 350px;
                gap: 1rem;
                padding: 1rem;
                border-radius: 1rem;
                background-color: hsl(216, 50%, 16%);
                color: hsl(215, 51%, 70%);
            }

            .card,
            .card-bottom {
                flex-direction: column;
            }

            .card img {
                border-radius: .8rem;
            }

            .card-bottom {
                gap: 1rem;
            }

            .card-bottom h1 {
                font-size: 1.8rem;
                color: hsl(0, 0%, 100%);
            }

            .card-bottom h1:hover {
                color: hsl(178, 100%, 50%);
            }

            .eth-clock_container {
                justify-content: space-between;
            }

            .eth-clock_container div {
                gap: .4rem;
            }

            .eth-clock_container div:first-child p {
                color: hsl(178, 100%, 50%);
            }

            .avatar_container {
                gap: 1rem;
            }

            .avatar_container img {
                width: 40px;
                border: .1rem solid hsl(0, 0%, 100%);
                border-radius: 100%;
            }

            .avatar_container p {
                align-self: center;
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */

            body {
                margin: auto;
                width: 1440px;
                height: 900px;
            }

        /* CLASS */
        /* ID */

    }