@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.color1 {color: hsl(200, 100%, 50%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */
        /* CLASS */

            .section-fem,
            .challenges-cards-container,
            .cards {
                display: flex;
                flex-direction: column;
            }

            .section-fem h2,
            .challenges-cards-container {
                padding: .8rem;
            }

            .challenges-cards-container {
                gap: .8rem;
            }

            .section-fem {
                border: .1rem solid hsl(0, 0%, 0%);
            }

            .section-fem h2 {
                background-color: hsl(200, 100%, 50%);
            }

            .cards {
                justify-content: space-between;
                height: 340px;
                text-align: center;
                border: .1rem solid hsl(0, 0%, 0%);
            }

            .cards a {
                text-decoration: none;
                color: hsl(0, 0%, 0%);
            }

            .cards a:active {
                text-decoration: underline;
            }

            .cards a:nth-of-type(2) {
                padding: .6rem;
            }

            .cards img {
                width: 100%;
            }

            .cards h3 {
                font-size: 1.4rem;
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */

            .challenges-cards-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-start: repeat(7, 1fr) auto;
                grid-template-areas:
                'card-1 card-2'
                'card-3 card-4'
                'card-5 card-6'
                'card-7 card-8'
                'card-9 card-10'
                'card-11 card-12'
                'card-13 card-14'
                'card-15 card-15';
            }

            .cards {
                margin: auto;
                width: 260px;
                height: 290px;
            }

        /* ID */

            #card-1 {
                grid-area: card-1;
            }
            #card-2 {
                grid-area: card-2;
            }
            #card-3 {
                grid-area: card-3;
            }
            #card-4 {
                grid-area: card-4;
            }
            #card-5 {
                grid-area: card-5;
            }
            #card-6 {
                grid-area: card-6;
            }
            #card-7 {
                grid-area: card-7;
            }
            #card-8 {
                grid-area: card-8;
            }
            #card-9 {
                grid-area: card-9;
            }
            #card-10 {
                grid-area: card-10;
            }
            #card-11 {
                grid-area: card-11;
            }
            #card-12 {
                grid-area: card-12;
            }
            #card-13 {
                grid-area: card-13;
            }
            #card-14 {
                grid-area: card-14;
            }
            #card-15 {
                width: 260px;
                grid-area: card-15;
            }

    }